@model CreateRoleViewModel

@{
    ViewData["Title"] = "Create Role";
}

<br />
<h1>User Registration</h1>
<br />

<div class="container border bg-light p-5">
    <form asp-controller="Administration" asp-action="CreateRole" method="post">
        <div class="form-group row">
            <div class="col-3 text-info">
                <label asp-for="Name"></label>
            </div>
            <input asp-for="Name" class="col-6 form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger font-weight-bolder"></span>
        <hr />
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create Role" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-controller="Home" asp-action="index" class="btn btn-danger form-control">Cancel</a>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger font-weight-bolder"></div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}