@{
    Layout = "../Shared/_PrivacyLayout";
    ViewData["Title"] = "Privacy Policy";
}

<div class="container bg-light justify-content-center">
    <h1 class="text-info text-light">@ViewData["Title"]</h1>
    <p class="bg-white text-danger">Use this page to detail your site's privacy policy.</p>
    <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
</div>